
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: sans-serif;
    text-align: center;
}

main div{
    display: flex;
    gap : 0.7rem;
}
.title{   
    font-size: 7rem;
    font-weight: 60rem;
    color: #212529;
}

#number{
font-size: 10rem;
font-weight: 70rem;
}

button{
    color: white;
    font-size: 2rem;
    padding: 0.6rem 1.2rem;
    border-style: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
}
#minus-btn{
background-color: #dc3545;
}
#minus-btn:hover{
    background-color: #c62b3b;
    cursor: pointer;

}
#reset-btn{
 background-color: #6c757d;
}
#reset-btn:hover{
 background-color: #565e65;
     cursor: pointer;

}
#add-btn{

background-color: #198754;
}
#add-btn:hover{

background-color: #126a41;
    cursor: pointer;

}
